<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,900italic,700italic,900,700' rel='stylesheet' type='text/css'>
<style>
  /* Header */
  .header-text {
    font-family: 'Roboto', sans-serif; /* Myriad Bold Italic */
    font-weight: bold;
    font-style: italic;
    font-size: 38px;
    color: #ffffff;
    position: absolute;
    bottom: 8px;
    left: 100px;
  }


</style>


<html>
<head>
  <title>Test header</title>
</head>
<body>
  <div style="height: 95px;
                                   width: 105%;
                                   background-color: #007dc5;
                                   position: relative;
                                   right: 10px;">
    <div class="header-text konsulentprofil">
      KONSULENTPROFIL
    </div>
  </div>
</body>
</html>
